{% load static %}
<!DOCTYPE html>
<html class="loading" lang="fa" data-textdirection="rtl">
<!-- BEGIN: Head-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
          content="سیستم هوشمند فردوس رضا زیر نظر شهرداری دامغان">
    <meta name="keywords"
          content="کاری از شرکت آباکو">
    <meta name="author" content="امیر درخشان فر">
    <title>{% block title %}پنل ادمین{% endblock %}</title>
    <link rel="apple-touch-icon" href="{% static 'images/logo.png' %}">
    <link rel="shortcut icon" type="image/x-icon"
          href="{% static 'images/logo.png' %}">
    <link href="{% static 'admin-panel-static/app-assets/css-rtl/Vazir-FD.css' %}" rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700"
          rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/vendors/css/vendors-rtl.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/vendors/css/forms/toggle/switchery.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/plugins/forms/switch.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/core/colors/palette-switch.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/vendors/css/pickers/daterange/daterangepicker.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin-panel-static/app-assets/css-rtl/colors.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/components.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/custom-rtl.min.css' %}">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/core/menu/menu-types/vertical-menu-modern.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/core/colors/palette-gradient.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/plugins/forms/wizard.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin-panel-static/app-assets/css-rtl/plugins/pickers/daterange/daterange.min.css' %}">
    <!-- END: Page CSS-->


    <!--for datepicker-->
    <link href='{% static 'date/css/fontawesome/css/font-awesome.min.css' %}' rel='stylesheet'/>
    <link href="{% static "date/css/vertical-responsive-menu.min.css" %}" rel="stylesheet"/>
    <link href="{% static 'date/css/prism.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'date/css/persianDatepicker-default.css' %}"/>
    <link rel="stylesheet" href="{% static 'date/css/persianDatepicker-dark.css' %}"/>
    <link rel="stylesheet" href="{% static 'date/css/persianDatepicker-latoja.css' %}"/>
    <link rel="stylesheet" href="{% static 'date/css/persianDatepicker-melon.css' %}"/>
    <link rel="stylesheet" href="{% static 'date/css/persianDatepicker-lightorang.css' %}"/>
    <script src="{% static 'date/js/prism.js' %}"></script>
    <script src="{% static 'date/js/vertical-responsive-menu.min.js' %}"></script>

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'admin-panel-static/assets/css/style-rtl.css' %}">
    <!-- END: Custom CSS-->


</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 2-columns   fixed-navbar" data-open="click"
      data-menu="vertical-menu-modern" data-color="bg-gradient-x-purple-red" data-col="2-columns">

<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-dark">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="collapse navbar-collapse show" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                            class="ft-menu font-large-1"> </i></a></li>
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i
                            class="ficon ft-maximize"></i></a></li>
                    <li class="dropdown nav-item mega-dropdown d-none d-md-block"><a class="dropdown-toggle nav-link"
                                                                                     href="#"
                                                                                     data-toggle="dropdown">سایت</a>
                        <ul class="col-md-3 mega-dropdown-menu dropdown-menu row">
                            <li class="col-md-12">
                                <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="ft-link"></i> لینک های
                                    سریع</h6>
                                <ul>
                                    <li><a class="my-1" href="{% url 'Main:index' %}"><i class="ft-home"></i> صفحه اصلی</a>
                                    </li>
                                    <li><a class="my-1" href="{% url 'Main:search' %}"><i class="ft-search"></i> جستجو
                                        متوفی</a>
                                    </li>
                                    <li><a class="my-1" href="{% url 'Main:all_news' %}"><i class="ft-bar-chart"></i>
                                        اخبار</a>
                                    </li>
                                    <li><a class="my-1" href="{% url 'Main:about_us' %}"><i class="ft-users"></i> درباره
                                        ما</a>
                                    </li>
                                    <li><a class="my-1" href="{% url 'Main:contact' %}"><i class="ft-phone-call"></i>
                                        ارتباط با ما</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav float-right">

                    <li class="dropdown dropdown-notification nav-item"><a class="nav-link nav-link-label" href="#"
                                                                           data-toggle="dropdown"><i
                            class="ficon ft-bell bell-shake" id="notification-navbar-link"></i><span
                            class="badge badge-pill badge-sm badge-danger badge-up badge-glow">5</span></a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <div class="arrow_box_right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0"><span class="grey darken-2">اطلاعیه</span></h6>
                                </li>
                                <li class="scrollable-container media-list w-100"><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i
                                                class="ft-share info font-medium-4 mt-2"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading info">سفارش جدید دریافت شده</h6>
                                            <p class="notification-text font-small-3 text-muted text-bold-600">لورم
                                                ایپسوم متن ساختگی است!</p>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">3:30 صبح
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i
                                                class="ft-save font-medium-4 mt-2 warning"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading warning">کاربر جدید ثبت شده است</h6>
                                            <p class="notification-text font-small-3 text-muted text-bold-600">لورم
                                                ایپسوم متن ساختگی است.</p>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">10:05 عصر
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i
                                                class="ft-repeat font-medium-4 mt-2 danger"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading danger">خرید جدید</h6>
                                            <p class="notification-text font-small-3 text-muted text-bold-600">لورم
                                                ایپسوم متن ساختگی است?</p>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">دیروز
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i
                                                class="ft-shopping-cart font-medium-4 mt-2 primary"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading primary">مورد جدید در سبد خرید شما</h6>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">هفته گذشته
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i
                                                class="ft-heart font-medium-4 mt-2 info"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading info">فروش جدید</h6>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">ماه گذشته
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a></li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item info text-right pr-1"
                                                                    href="javascript:void(0)">خواندن همه</a></li>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-notification nav-item">
                        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i
                                class="ficon ft-mail"> </i></a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <div class="arrow_box_right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0"><span class="grey darken-2">پیام ها</span></h6>
                                </li>
                                <li class="scrollable-container media-list w-100"><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left"><span class="avatar avatar-sm rounded-circle"><img
                                                src="../../../app-assets/images/portrait/small/avatar-s-6.png"
                                                alt="avatar"></span></div>
                                        <div class="media-body">
                                            <h6 class="media-heading text-bold-700">سارا مونتری<i
                                                    class="ft-circle font-small-2 success float-right"></i></h6>
                                            <p class="notification-text font-small-3 text-muted text-bold-600">همه چیز
                                                خوب است من ارائه خواهم داد...</p>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">3:55 صبح
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left"><span class="avatar avatar-sm rounded-circle"><span
                                                class="media-object rounded-circle text-circle bg-warning">E</span></span>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="media-heading text-bold-700">الیزا الیوت<i
                                                    class="ft-circle font-small-2 danger float-right"></i></h6>
                                            <p class="notification-text font-small-3 text-muted text-bold-600">باشه. در
                                                اینجا برخی از جزئیات بیشتر است...</p>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">2:10 عصر
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left"><span class="avatar avatar-sm rounded-circle"><img
                                                src="../../../app-assets/images/portrait/small/avatar-s-3.png"
                                                alt="avatar"></span></div>
                                        <div class="media-body">
                                            <h6 class="media-heading text-bold-700">کلی رییس<i
                                                    class="ft-circle font-small-2 warning float-right"></i></h6>
                                            <p class="notification-text font-small-3 text-muted text-bold-600">یک بار چک
                                                کنید و به من اطلاع دهید...</p>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">دیروز
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a><a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left"><span class="avatar avatar-sm rounded-circle"><img
                                                src="../../../app-assets/images/portrait/small/avatar-s-19.png"
                                                alt="avatar"></span></div>
                                        <div class="media-body">
                                            <h6 class="media-heading text-bold-700">تونی دیپ<i
                                                    class="ft-circle font-small-2 danger float-right"></i></h6>
                                            <p class="notification-text font-small-3 text-muted text-bold-600">ما شروع
                                                به توسعه پروژه جدید خواهیم کرد...</p>
                                            <small>
                                                <time class="media-meta text-muted"
                                                      datetime="2015-06-11T18:29:20+08:00">جمعه
                                                </time>
                                            </small>
                                        </div>
                                    </div>
                                </a></li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item text-right info pr-1"
                                                                    href="javascript:void(0)">خواندن همه</a></li>
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user nav-item"><a class="nav-link nav-link-label"
                                                                   href="#" data-toggle="dropdown"><i
                            class="ficon ft-user"> </i></a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="arrow_box_right"><a class="dropdown-item" href="#"><span
                                    class="avatar avatar-online"><span
                                    class="user-name text-bold-700 ml-1">{{ request.user.get_full_name }}</span></span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="user-profile.html"><i class="ft-user"></i> ویرایش مشخصات</a><a
                                        class="dropdown-item" href="email-application.html"><i class="ft-mail"></i>
                                    صندوق ورودی من</a><a class="dropdown-item" href="project-summary.html"><i
                                        class="ft-check-square"></i> وظیفه</a><a class="dropdown-item"
                                                                                 href="gap-application.html"><i
                                        class="ft-message-square"></i> نمودار</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Account/logout/?next={{ request.path }}"><i
                                        class="ft-power"></i> خروج</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- END: Header-->
{% include 'admin-panel/partial/sidbar.html' %}

{% block body %}

{% endblock %}
{% include 'admin-panel/partial/footer.html' %}

<!--for datepicker-->
<script src="{% static 'date/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'date/js/persianDatepicker.js' %}"></script>
<script>
    $(function () {
        //usage
        $(".usage").persianDatepicker();

        //themes
        $("#pdpDefault").persianDatepicker({ alwaysShow: true, });
        $("#pdpLatoja").persianDatepicker({ theme: "latoja", alwaysShow: true, });
        $("#pdpLightorang").persianDatepicker({ theme: "lightorang", alwaysShow: true, });
        $("#pdpMelon").persianDatepicker({ theme: "melon", alwaysShow: true, });
        $("#pdpDark").persianDatepicker({ theme: "dark", alwaysShow: true, });

        //size
        $("#pdpSmall").persianDatepicker({ cellWidth: 14, cellHeight: 12, fontSize: 8 });
        $("#pdpBig").persianDatepicker({ cellWidth: 78, cellHeight: 60, fontSize: 18 });

        //formatting
        $("#pdpF1").persianDatepicker({ formatDate: "YYYY/MM/DD hh:mm:ss:ms" });
        $("#pdpF2").persianDatepicker({ formatDate: "YYYY-0M-0D" });
        $("#pdpF3").persianDatepicker({ formatDate: "YYYY-NM-DW|ND", isRTL: !0 });

        //startDate & endDate
        $("#pdpStartEnd").persianDatepicker({ startDate: "1394/11/12", endDate: "1395/5/5" });
        $("#pdpStartToday").persianDatepicker({ startDate: "today", endDate: "1410/11/5" });
        $("#pdpEndToday").persianDatepicker({ startDate: "1397/11/12", endDate: "today" });

        //selectedBefor & selectedDate
        $("#pdpSelectedDate").persianDatepicker({ selectedDate: "1404/1/1", alwaysShow: !0 });
        $("#pdpSelectedBefore").persianDatepicker({ selectedBefore: !0 });
        $("#pdpSelectedBoth").persianDatepicker({ selectedBefore: !0, selectedDate: "1395/5/5" });

        //jdate & gdate attributes
        $("#pdp-data-jdate").persianDatepicker({
            onSelect: function () {
                alert($("#pdp-data-jdate").attr("data-gdate"));
            }
        });
        $("#pdp-data-gdate").persianDatepicker({
            showGregorianDate: true,
            onSelect: function () {
                alert($("#pdp-data-gdate").attr("data-jdate"));
            }
        });


        //Gregorian date
        $("#pdpGregorian").persianDatepicker({ showGregorianDate: true });

        // jDateFuctions
        // var jdf = new jDateFunctions();
        // var pd = new persianDate();
        // $("#pdpjdf-1").persianDatepicker({
        //     onSelect: function () {
        //         $("#pdpjdf-1").val(jdf.getJulianDayFromPersian(pd.parse($("#pdpjdf-1").val())));
        //         $("#pdpjdf-2").val(jdf.getLastDayOfPersianMonth(pd.parse($("#pdpjdf-1").val())));
        //         $("#pdpjdf-3").val(jdf.getPCalendarDate($("#pdpjdf-1").val()));
        //     }
        // });


        // //convert jalali date to miladi
        // $("#year, #month, #day").on("change", function () {
        //     $("#month").val() > 6 ? $("#day-31").hide() : $("#day-31").show();;
        //     showConverted();
        // });

        // $("#year").keyup(showConverted);
        //
        // function showConverted() {
        //     try{
        //         var pd = new persianDate();
        //         pd.year = parseInt($("#year").val());
        //         pd.month = parseInt($("#month").val());
        //         pd.date = parseInt($("#day").val());
        //
        //         var jdf = new jDateFunctions();
        //         $("#converted").html("Gregorian :  " + jdf.getGDate(pd)._toString("YYYY/MM/DD") + "     [" + jdf.getGDate(pd) + "]<br />Julian:  " + jdf.getJulianDayFromPersian(pd));
        //
        //     } catch (e) {
        //         $("#converted").html("Enter the year correctly!");
        //     }
        // }


        //startDate is tomarrow
        var p = new persianDate();
        $("#pdpStartDateTomarrow").persianDatepicker({ startDate: p.now().addDay(1).toString("YYYY/MM/DD"), endDate: p.now().addDay(4).toString("YYYY/MM/DD") });


    });
</script>
</body>

</html>