{% load static %}
<!-- BEGIN: Main Menu-->

<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true"
     data-img="../../../app-assets/images/backgrounds/04.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row position-relative">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo"
                                                                                        alt="Chameleon admin logo"
                                                                                        src="{% static 'images/logo.png' %}"/>
                <h3 class="brand-text">مدیریت آرامستان</h3></a></li>
            <li class="nav-item d-none d-md-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0"
                                                                 data-toggle="collapse"><i
                    class="toggle-icon ft-disc font-medium-3" data-ticon="ft-disc"></i></a></li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="navigation-background"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href=""><i class="ft-more-horizontal"></i><span class="menu-title" data-i18n="">متوفی</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="{% url 'Site_Panel:quick_new_deceased' %}">اضافه کردن متوفی قدیمی</a>
                    </li>
                    <li><a class="menu-item" href="{% url 'Site_Panel:online_new_deceased' %}">اضافه کردن متوفی
                        جدید</a>
                    </li>
                    <li><a href="{% url 'Site_Panel:deceased_list' %}"><i></i><span
                    class="menu-title" data-i18n="">لیست مرده ها</span></a>

            </li>
                </ul>
            </li>

            <li class=" nav-item"><a href=""><i class="ft-layers"></i><span class="menu-title" data-i18n="">قبور</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="{% url 'Site_Panel:add_place' %}">اضافه کردن قبر جدید</a>
                    </li>
                    <li><a class="menu-item" href="{% url 'Site_Panel:places_list' %}">لیست قبور</a>
                    </li>
                </ul>
            </li>


            <li class=" nav-item"><a href=""><i class="ft-bar-chart"></i><span class="menu-title" data-i18n="">اخبار</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="{% url 'Site_Panel:add_news' %}">اضافه کردن اخبار</a>
                    </li>
                    <li><a class="menu-item" href="{% url 'Site_Panel:news-list' %}">لیست اخبار</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href=""><i class="ft-book"></i><span class="menu-title" data-i18n="">بایگانی</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="{% url 'Site_Panel:add_letter' %}">ایجاد نامه خروجی</a>
                    </li>
                    <li><a class="menu-item" href="{% url 'Site_Panel:send_list' %}">لیست نامه های خروجی</a>
                    </li>
                    <li><a class="menu-item" href="{% url 'Site_Panel:wait' %}">ایجاد نامه ورودی</a>
                    </li>
                    <li><a class="menu-item" href="{% url 'Site_Panel:wait' %}">لیست نامه های ورودی</a>
                    </li>
                </ul>
            </li>
             <li class=" nav-item"><a href=""><i class="ft-anchor"></i><span class="menu-title" data-i18n="">دلایل فوت</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="{% url 'Site_Panel:add_death_cause' %}">اضافه کردن علت جدید</a>
                    </li>

                    <li><a class="menu-item" href="{% url 'Site_Panel:death_cause_list' %}">لیست همه علت ها</a>
                    </li>
                </ul>
            </li>



        </ul>
    </div>
</div>
<!-- END: Main Menu-->
