<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true" data-img="../../../app-assets/images/backgrounds/04.jpg">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row position-relative">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html"><img class="brand-logo" alt="Chameleon admin logo" src="../../../app-assets/images/logo/logo.png"/>
                <h3 class="brand-text">آفتاب پرست</h3></a></li>
            <li class="nav-item d-none d-md-block nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="toggle-icon ft-disc font-medium-3" data-ticon="ft-disc"></i></a></li>
            <li class="nav-item d-md-none"><a class="nav-link close-navbar"><i class="ft-x"></i></a></li>
        </ul>
    </div>
    <div class="navigation-background"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item"><a href="index.html"><i class="ft-home"></i><span class="menu-title" data-i18n="">داشبورد</span><span class="badge badge badge-info badge-pill float-right mr-2">3</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="dashboard-ecommerce.html">تجارت الکترونیک</a>
                    </li>
                    <li><a class="menu-item" href="dashboard-analytics.html">تجزیه و تحلیل</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-layers"></i><span class="menu-title" data-i18n="">برنامه ها</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="email-application.html">برنامه ایمیل</a>
                    </li>
                    <li><a class="menu-item" href="gap-application.html">برنامه چت</a>
                    </li>
                    <li><a class="menu-item" href="full-calender.html">تقویم کامل</a>
                    </li>
                    <li><a class="menu-item" href="project-summary.html">خلاصه ی پروژه</a>
                    </li>
                    <li><a class="menu-item" href="invoice-template.html">صورتحساب</a>
                    </li>
                    <li><a class="menu-item" href="#">جدول زمانی</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="timeline-center.html">زمان بندی مرکزی</a>
                            </li>
                            <li><a class="menu-item" href="timeline-horizontal.html">جدول زمانی افقی</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="user-profile.html">مشخصات کاربر</a>
                    </li>
                    <li><a class="menu-item" href="users-contacts.html">لیست مخاطبین</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-monitor"></i><span class="menu-title" data-i18n="">قالب ها</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#">عمودی</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="../vertical-menu-template">منوی کلاسیک</a>
                            </li>
                            <li><a class="menu-item" href="../vertical-modern-menu-template">منوی مدرن</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="#">افقی</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="../horizontal-menu-template-nav">تمام عرض</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-layout"></i><span class="menu-title" data-i18n="">چیدمان</span><span class="badge badge badge-pill badge-danger float-right mr-2">5</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#">نوار کناری محتوا</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="layout-content-detached-left-sidebar.html">نوار کناری چپ</a>
                            </li>
                            <li><a class="menu-item" href="layout-content-detached-left-sticky-sidebar.html">نوار کناری چپ چسبنده</a>
                            </li>
                            <li><a class="menu-item" href="layout-content-detached-right-sidebar.html">نوار کناری راست</a>
                            </li>
                            <li><a class="menu-item" href="layout-content-detached-right-sticky-sidebar.html">نوار کناری سمت چپ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navigation-divider"></li>
                    <li><a class="menu-item" href="navbar-hide-on-scroll-top.html">پنهان کردن در پیمایش بالا</a>
                    </li>
                    <li><a class="menu-item" href="vertical-nav-compact-menu.html">ناوبری کامپکت</a>
                    </li>
                    <li><a class="menu-item" href="layout-fixed-navbar.html">ناوبر ثابت</a>
                    </li>
                    <li><a class="menu-item" href="layout-fixed-navigation.html">ناوبری ثابت</a>
                    </li>
                    <li><a class="menu-item" href="layout-fixed-navbar-navigation.html">ناوبری ثابت و جهت یابی</a>
                    </li>
                    <li><a class="menu-item" href="layout-fixed-navbar-footer.html">ناوبری ثابت و پاورقی</a>
                    </li>
                    <li class="navigation-divider"></li>
                    <li><a class="menu-item" href="layout-fixed.html">طرح ثابت</a>
                    </li>
                    <li><a class="menu-item" href="layout-boxed.html">طرح جعبه</a>
                    </li>
                    <li><a class="menu-item" href="layout-static.html">طرح استاتیک</a>
                    </li>
                    <li class="navigation-divider"></li>
                    <li><a class="menu-item" href="layout-light.html">نور کنترل</a>
                    </li>
                    <li><a class="menu-item" href="layout-dark.html">ناوبری تاریک</a>
                    </li>
                    <li><a class="menu-item" href="vertical-nav-flipped.html">ناوبری کشیده شده</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-zap"></i><span class="menu-title" data-i18n="">کیت شروع کننده</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#">نوار کناری محتوا</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-content-detached-left-sidebar.html">نوار کناری چپ</a>
                            </li>
                            <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-content-detached-left-sticky-sidebar.html">نوار کناری چپ چسبنده</a>
                            </li>
                            <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-content-detached-right-sidebar.html">نوار کناری راست</a>
                            </li>
                            <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-content-detached-right-sticky-sidebar.html">نوار کناری سمت چپ</a>
                            </li>
                        </ul>
                    </li>
                    <li class="navigation-divider"></li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-fixed-navbar.html">ناوبر ثابت</a>
                    </li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-fixed-navigation.html">ناوبری ثابت</a>
                    </li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-fixed-navbar-navigation.html">ناوبری ثابت و جهت یابی</a>
                    </li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-fixed-navbar-footer.html">ناوبری ثابت و پاورقی</a>
                    </li>
                    <li class="navigation-divider"></li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-fixed.html">طرح ثابت</a>
                    </li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-boxed.html">طرح جعبه</a>
                    </li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-static.html">طرح استاتیک</a>
                    </li>
                    <li class="navigation-divider"></li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-light.html">ناوبری روشن</a>
                    </li>
                    <li><a class="menu-item" href="../../../starter-kit/rtl/vertical-modern-menu-template/layout-dark.html">ناوبری تاریک</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-aperture"></i><span class="menu-title" data-i18n="">رابط کاربری</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#">محتوا</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="content-grid.html">شبکه</a>
                            </li>
                            <li><a class="menu-item" href="content-typography.html">تایپوگرافی</a>
                            </li>
                            <li><a class="menu-item" href="content-text-utilities.html">ابزارهای متن</a>
                            </li>
                            <li><a class="menu-item" href="content-syntax-highlighter.html">برجسته کننده</a>
                            </li>
                            <li><a class="menu-item" href="content-helper-classes.html">کلاس امدادگر</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="#">پالت رنگ</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="color-palette-primary.html">پالت اولیه</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-danger.html">پالت خطر</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-success.html">پالت موفقیت</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-warning.html">پالت هشدار</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-info.html">پالت اطلاعات</a>
                            </li>
                            <li class="navigation-divider"></li>
                            <li><a class="menu-item" href="color-palette-red.html">پالت قرمز</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-pink.html">پالت صورتی</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-purple.html">پالت بنفش</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-blue.html">پالت آبی</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-cyan.html">پالت فیروزه ای</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-teal.html">پالت طال</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-yellow.html">پالت زرد</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-amber.html">پالت آمبر</a>
                            </li>
                            <li><a class="menu-item" href="color-palette-blue-grey.html">پالت آبی خاکستری</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="card-bootstrap.html">کارت های بوت استرپ</a>
                    </li>
                    <li><a class="menu-item" href="card-advanced.html">کارت های پیشرفته</a>
                    </li>
                    <li><a class="menu-item" href="#">آیکون ها</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="icons-feather.html">پر</a>
                            </li>
                            <li><a class="menu-item" href="icons-line-awesome.html">خط عالی</a>
                            </li>
                            <li><a class="menu-item" href="icons-simple-line-icons.html">آیکون خط ساده</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="animation.html">انیمیشن</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-box"></i><span class="menu-title" data-i18n="">اجزاء</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#">بوت استرپ</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="component-alerts.html">هشدارها</a>
                            </li>
                            <li><a class="menu-item" href="component-buttons.html">دکمه ها</a>
                            </li>
                            <li><a class="menu-item" href="component-carousel.html">چرخ فلک</a>
                            </li>
                            <li><a class="menu-item" href="component-collapse.html">فروپاشی</a>
                            </li>
                            <li><a class="menu-item" href="component-dropdowns.html">رها کردن</a>
                            </li>
                            <li><a class="menu-item" href="component-list-group.html">فهرست گروه</a>
                            </li>
                            <li><a class="menu-item" href="component-modals.html">مدال ها</a>
                            </li>
                            <li><a class="menu-item" href="component-pagination.html">صفحه بندی</a>
                            </li>
                            <li><a class="menu-item" href="component-navs-component.html">ناوبر</a>
                            </li>
                            <li><a class="menu-item" href="component-tabs-component.html">زبانه ها</a>
                            </li>
                            <li><a class="menu-item" href="component-pills-component.html">قرص ها</a>
                            </li>
                            <li><a class="menu-item" href="component-tooltips.html">راهنمای ابزار</a>
                            </li>
                            <li><a class="menu-item" href="component-popovers.html">پروپاور</a>
                            </li>
                            <li><a class="menu-item" href="component-badges.html">نشان ها</a>
                            </li>
                            <li><a class="menu-item" href="component-pill-badges.html">قرص نشان ها</a>
                            </li>
                            <li><a class="menu-item" href="component-progress.html">پیشرفت</a>
                            </li>
                            <li><a class="menu-item" href="component-media-objects.html">اشیاء رسانه ای</a>
                            </li>
                            <li><a class="menu-item" href="component-spinner.html">اسپینر</a>
                            </li>
                            <li><a class="menu-item" href="component-toast.html">توست</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="#">اضافی</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="ex-component-sweet-alerts.html">هشدارهای شیرین</a>
                            </li>
                            <li><a class="menu-item" href="ex-component-toastr.html">توستر</a>
                            </li>
                            <li><a class="menu-item" href="ex-component-ratings.html">امتیازات</a>
                            </li>
                            <li><a class="menu-item" href="ex-component-tour.html">تور</a>
                            </li>
                            <li><a class="menu-item" href="#">ویراستاران</a>
                                <ul class="menu-content">
                                    <li><a class="menu-item" href="editor-ckeditor.html">CKEditor</a>
                                    </li>
                                    <li><a class="menu-item" href="editor-tinymce.html">TinyMCE</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="menu-item" href="pickers-date-&amp;-time-picker.html">تاریخ و تایمر زمان</a>
                            </li>
                            <li><a class="menu-item" href="block-ui.html">رابط کاربری بلوک</a>
                            </li>
                            <li><a class="menu-item" href="file-uploader-dropzone.html">فایل آپلود کننده</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-edit"></i><span class="menu-title" data-i18n="">فرم ها</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#">عناصر فرم</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="form-inputs.html">ورودی فرم</a>
                            </li>
                            <li><a class="menu-item" href="form-switch.html">تعویض</a>
                            </li>
                            <li><a class="menu-item" href="form-select2.html">انتخاب 2</a>
                            </li>
                            <li><a class="menu-item" href="form-checkboxes-radios.html">جعبه ابزارها و رادیوها</a>
                            </li>
                            <li><a class="menu-item" href="form-tags-input.html">ورودی برچسب ها</a>
                            </li>
                            <li><a class="menu-item" href="form-validation.html">اعتبار سنجی</a>
                            </li>
                            <li><a class="menu-item" href="form-extended-inputs.html">ورودی های توسعه یافته</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="#">چیدمان فرم</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="form-layout-basic.html">فرم های پایه</a>
                            </li>
                            <li><a class="menu-item" href="form-layout-horizontal.html">فرم های افقی</a>
                            </li>
                            <li><a class="menu-item" href="form-layout-hidden-labels.html">برچسب های پنهان</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active"><a class="menu-item" href="form-wizard.html">فرم جادوگر</a>
                    </li>
                    <li><a class="menu-item" href="form-repeater.html">فرم تکرار کننده</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-grid"></i><span class="menu-title" data-i18n="">جداول</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="table-bootstrap.html">جداول بوت استرپ</a>
                    </li>
                    <li><a class="menu-item" href="#">داده ها</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="dt-basic-initialization.html">شروع اولیه</a>
                            </li>
                            <li><a class="menu-item" href="dt-styling.html">استایلینگ</a>
                            </li>
                            <li><a class="menu-item" href="dt-data-sources.html">منابع داده</a>
                            </li>
                            <li><a class="menu-item" href="dt-advanced-initialization.html">آغازگر پیشرفته</a>
                            </li>
                            <li><a class="menu-item" href="dt-api.html">API</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-bar-chart-2"></i><span class="menu-title" data-i18n="">نمودار</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="chartist-charts.html">چارتیست</a>
                    </li>
                    <li><a class="menu-item" href="chartjs-charts.html">نمودار</a>
                    </li>
                    <li><a class="menu-item" href="#">نقشه</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="google-maps.html">نقشه گوگل</a>
                            </li>
                            <li><a class="menu-item" href="jvector-maps.html">نقشه jVector</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-sidebar"></i><span class="menu-title" data-i18n="">صفحات</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="gallery-grid.html">گالری</a>
                    </li>
                    <li><a class="menu-item" href="search.html">جستجوگر</a>
                    </li>
                    <li><a class="menu-item" href="#">احراز هویت</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="login.html">ورود</a>
                            </li>
                            <li><a class="menu-item" href="register.html">ثبت نام</a>
                            </li>
                            <li><a class="menu-item" href="unlock-user.html">باز کردن کاربر</a>
                            </li>
                            <li><a class="menu-item" href="recover-password.html">بازیابی رمز عبور</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="#">خطا</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="error-400.html">خطا 400</a>
                            </li>
                            <li><a class="menu-item" href="error-401.html">خطا 401</a>
                            </li>
                            <li><a class="menu-item" href="error-403.html">خطا 403</a>
                            </li>
                            <li><a class="menu-item" href="error-404.html">خطا 404</a>
                            </li>
                            <li><a class="menu-item" href="error-500.html">خطا 500</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="menu-item" href="coming-soon.html">به زودی</a>
                    </li>
                    <li><a class="menu-item" href="under-maintenance.html">تعمیر و نگهداری</a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="changelog.html"><i class="ft-file"></i><span class="menu-title" data-i18n="">تغییرات</span><span class="badge badge badge-pill badge-warning float-right">1.2</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="ft-server"></i><span class="menu-title" data-i18n="">سطوح منو</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="#">مرحله دوم</a>
                    </li>
                    <li><a class="menu-item" href="#">کودک دوم سطح</a>
                        <ul class="menu-content">
                            <li><a class="menu-item" href="#">سطح سوم</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- END: Main Menu-->
