<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input name="first_name" placeholder="first_name" value="amir" type="text">
    <input name="last_name" placeholder="last_name" value="derakhshanfar" type="text">
    <input name="deceased_type" placeholder="deceased_type" value="_" type="text">
    <input name="deceased_status" placeholder="deceased_status" value="_" type="text">
    <input name="national_number" placeholder="national_number" value="ss" type="text">
    <input name="date_of_death" placeholder="date_of_death" type="date">
    <input name="date_of_birth" placeholder="date_of_birth" type="date">
    <input name="sex" placeholder="sex" value="MALE" type="text">
    <input name="fa_name" placeholder="fa_name" value="hossein" type="text">
    <input name="bio" placeholder="bio" value="bio" type="text">
    <input name="mo_name" placeholder="mo_name" value="mo_name" type="text">
    <input name="identification_number" placeholder="identification_number" value="65" type="text">
    <input name="issue_date" placeholder="issue_date" type="date">
    <input name="place_of_birth" placeholder="place_of_birth" type="text">
    <input name="address" placeholder="address" value="address" type="text">
    <input name="code" placeholder="code" value="code" type="text">
    <input name="longitude" placeholder="longitude" value="bb" type="text">
    <input name="latitude" placeholder="latitude" value="aa" type="text">
    <input name="price" placeholder="price" value="price" type="text">
    <input name="ghete" placeholder="ghete" value="4" type="text">
    <input name="block" placeholder="block" value="3" type="text">
    <input name="number" placeholder="number" value="2" type="text">
    <input name="radif" placeholder="radif" value="6" type="text">
    <input name="floor" placeholder="floor" value="Normal" type="text">
    <input name="status" placeholder="status" value="Sold" type="text">
    <input name="type" placeholder="type" value="Normal" type="text">
    <input type="submit" value="submit">
</form>
</body>
</html>