{% load static %}
{% load main_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>فاکتور</title>
    <link rel="stylesheet" href="{% static 'css/aaa.css' %}">
</head>
<body>
<div class="an-container">
    <div class="an-title">
        <h1>صورتحساب خدمات آرامستان دامغان</h1>
    </div>

    <div class="an-right-step">
        <div class="an-det">
            <ul>

                <li class="an-left-li"><span>139756789</span>      :    شماره پرونده</li>

                <li class="an-left-li"><span>139756789</span>      :    شماره شناسایی</li>
                <li class="an-left-li"><span>{{ bills.first.deceased_id.created|shamsi }} {{ bills.first.deceased_id.created.time|iran }}</span>      :    ساعت و تاریخ پذیرش</li>
            </ul>
        </div>
    </div>
    <div class="an-left-step">
        <div class="an-img-logo">
            <img src="" alt="">
        </div>
        <div class="an-det">
            <ul>
                <li class="an-li"><span>139756789</span>      :    کد مدرک</li>
                <li class="an-li"><span>139756789</span>      :    شماره ویرایش</li>
                <li class="an-li"><span>7/7/1378 14:45</span>      :    تاریخ ویرایش</li>
            </ul>
        </div>
    </div>
    <div style="width: 100%">

        <div style="width: 50%" class="an-left-step">
            <div class="an-det">
                <ul>
                    <li class="an-left-li">         <b>نام و نام خانوادگی متوفی</b> <span> : شهریار فلان زاده  </span>  </li>
                    <li class="an-left-li">         <b>نام و نام خانوادگی پرداخت کننده</b> <span> : حبیب  </span>  </li>
                    <li class="an-left-li">         <b>شماره تماس پرداخت کننده</b> <span> : 5465456465  </span>  </li>
                    <li class="an-left-li">         <b>سازمان متعهد</b> <span> : ندارد  </span>  </li>
                    <li class="an-left-li">         <b>کداقتصادی سازمان</b> <span> : 5465456465  </span>  </li>


                </ul>
            </div>
        </div>
        <div style="width: 50%"  class="an-right-step">
            <div class="an-det">
                <ul>
                    <li class="an-left-li"><span>139756789</span>      :     <b>کد ملی متوفی</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b>کدملی پرداخت کننده</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b>شناسه ملی سازمان</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b>کد پستی سازمان</b>  </li>

                </ul>
            </div>
        </div>
    </div>


</div>
<div style="margin-top: 80px;" class="an-container">
    <table id="t01">
        <tr>
            <th>مبلغ به ریال</th>
            <th>ردیف</th>
            <th>شرح خدمات</th>
            <th>تعداد</th>
        </tr>
        <tr>
            <td>1</td>
            <td>انتقال مرده</td>
            <td>1</td>
            <td>3453365</td>
        </tr>
        <tr>
            <td>1</td>
            <td>انتقال مرده</td>
            <td>1</td>
            <td>3453365</td>
        </tr>
        <tr>
            <td>1</td>
            <td>انتقال مرده</td>
            <td>1</td>
            <td>3453365</td>
        </tr>
        <tr>
            <td>1</td>
            <td>انتقال مرده</td>
            <td>1</td>
            <td>3453365</td>
        </tr>
    </table>
    <div style="width: 100%;margin-top: 60px;">

        <div style="width: 50%" class="an-left-step">
            <div class="an-det">
                <ul>
                    <li class="an-left-li">         <b>متوفی به دامغان منتقل گردید</b></li>
                    <li class="an-left-li">         <b>مهر وامضا کاربر</b> <span> : حبیب  </span>  </li>
                    <li class="an-left-li">         <b>شماره تماس پرداخت کننده</b> <span> : محمد عرفانی نژاد  </span>  </li>
                    <li class="an-left-li">         <b>تاریخ و ساعت چاپ</b> <span> : 5435  </span>  </li>
                    <li class="an-left-li">         <b>قابل پرداخت(حروف)</b> <span> : هجده ملیون و فلان تومان  </span>  </li>


                </ul>
            </div>
        </div>
        <div style="width: 50%"  class="an-right-step">
            <div class="an-det">
                <ul>
                    <li class="an-left-li"><span>139756789</span>      :     <b>جمع کل خدمات</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b>مالیات برارززش افزوده</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b>سهم سازمان متعهد</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b>کسر فیش</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b>اضافه پرداختی</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b style="background: black">قابل پرداخت(عدد)</b>  </li>
                    <li class="an-left-li"><span>139756789</span>      :     <b>آدرس و تلفن سازمان</b>  </li>
                </ul>
            </div>
        </div>
    </div>
</div>






</body>
</html>
