{% extends 'admin-panel/partial/payment_base.html' %}
{% load static %}
{% load main_tags %}
<!-- BEGIN: Main Menu-->
{% block title %}
    پنل ادمین|لیست اشخاص
{% endblock %}
{% block content %}
    <!-- BEGIN: Content-->
    
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">لیست اشخاص</h3>
                    <div class="breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'Site_Panel:index' %}">پنل ادمین</a>
                                </li>
                                <li class="breadcrumb-item"><a href="{% url 'Site_Panel:reserve_factor' %}">امور مالی</a>
                                </li>
                                <li class="breadcrumb-item active">لیست اشخاص
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- Base style table -->
                <section id="base-style">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">لیست کلیه اشخاص</h4>

                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard">
                                        {% for warning in warnings %}
                                            <div class="alert round alert-secondary alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-mic black"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                {{ warning }}
                                            </div>
                                        {% endfor %}
                                        <div class="table-responsive">
                                            <table style="text-align: center;" class="table table-striped table-bordered base-style">
                                                <thead>
                                                <tr>
                                                    <th>نام و نام خانوادگی</th>
                                                    <th>نام گروه</th>
                                                    <th>کد ملی</th>
                                                    <th>شماره تماس</th>
                                                </tr>
                                                </thead>
                                                <tbody >
                                                {% for user in users %}
                                                <tr >
                                                    <th style="vertical-align: middle;"><a href="{% if user.deceased_id != None %}{% url 'Site_Panel:edit-deceased-info' user.deceased_id %}{% else %}{% url 'Site_Panel:edit_user' user.id %}{% endif %}">{{ user.get_full_name }}</a></th>
                                                    <th style="vertical-align: middle;">{% if user.deceased_id != '' %}متوفی{% endif %} {% if user.buyer_id != '' %}خریدار{% endif %} {% if user.presenter_id != '' %}معرف{% endif %} {% if user.driver_id != '' %}راننده{% endif %}</th>
                                                    <td style="vertical-align: middle;">{% if user.national_number %}{{ user.national_number }}{% else %}ثبت نشده{% endif %}</td>
                                                    <td style="vertical-align: middle;">{% if user.phone_number %}{{ user.phone_number }}{% else %}ثبت نشده{% endif %}</td>

                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>نام و نام خانوادگی</th>
                                                    <th>نام گروه</th>
                                                    <th>کد ملی</th>
                                                    <th>شماره تماس</th>

                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->
    {% for deceased in deceaseds %}
        {% for item in deceased.license.select_related %}
            {% if item.place_id %}
                <div style="padding: auto" id="Place{{ item.place_id.id }}"
             class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-header">
                        مشخصات محل دفن
                    </div>
                    <div class="modal-body">
                        <hr>

                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="display: inline">کد :</h5>
                                <p style="display:inline;">
                                    {{ item.place_id.code }}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="display: inline">ردیف :</h5>
                                <p style="display: inline">
                                    {{ item.place_id.radif }}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="display: inline">بلوک :</h5>
                                <p style="display: inline">
                                    {{ item.place_id.block }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5 style="display: inline">شماره :</h5>
                                <p style="display:inline;">
                                    {{ item.place_id.block }}</p>
                            </div>
                            <div class="col-md-4">
                                <h5 style="display: inline">طبقه :</h5>
                                <p style="display: inline">
                                    {% if item.place_id.floor == 'OneFloor' %}
                                        اول
                                    {% elif item.place_id.floor == 'TwoFloor' %}
                                        دوم
                                    {% endif %}


                                </p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    {% endfor %}

    <!-- BEGIN: Customizer-->
    <div class="customizer border-left-blue-grey border-left-lighten-4 d-none d-xl-block"><a class="customizer-close"
                                                                                             href="#"><i
            class="ft-x font-medium-3"></i></a><a class="customizer-toggle bg-primary box-shadow-3" href="#"
                                                  id="customizer-toggle-setting"><i
            class="ft-settings font-medium-3 spinner white"></i></a>
        <div class="customizer-content p-2">
            <h5 class="mt-1 mb-1 text-bold-500">تنظیمات رنگ ناوبری</h5>
            <div class="navbar-color-options clearfix">
                <div class="gradient-colors mb-1 clearfix">
                    <div class="bg-gradient-x-purple-blue navbar-color-option" data-bg="bg-gradient-x-purple-blue"
                         title="bg-gradient-x-purple-blue"></div>
                    <div class="bg-gradient-x-purple-red navbar-color-option" data-bg="bg-gradient-x-purple-red"
                         title="bg-gradient-x-purple-red"></div>
                    <div class="bg-gradient-x-blue-green navbar-color-option" data-bg="bg-gradient-x-blue-green"
                         title="bg-gradient-x-blue-green"></div>
                    <div class="bg-gradient-x-orange-yellow navbar-color-option" data-bg="bg-gradient-x-orange-yellow"
                         title="bg-gradient-x-orange-yellow"></div>
                    <div class="bg-gradient-x-blue-cyan navbar-color-option" data-bg="bg-gradient-x-blue-cyan"
                         title="bg-gradient-x-blue-cyan"></div>
                    <div class="bg-gradient-x-red-pink navbar-color-option" data-bg="bg-gradient-x-red-pink"
                         title="bg-gradient-x-red-pink"></div>
                </div>
                <div class="solid-colors clearfix">
                    <div class="bg-primary navbar-color-option" data-bg="bg-primary" title="اولیه"></div>
                    <div class="bg-success navbar-color-option" data-bg="bg-success" title="موفقیت"></div>
                    <div class="bg-info navbar-color-option" data-bg="bg-info" title="اطلاعات"></div>
                    <div class="bg-warning navbar-color-option" data-bg="bg-warning" title="هشدار"></div>
                    <div class="bg-danger navbar-color-option" data-bg="bg-danger" title="خطر"></div>
                    <div class="bg-blue navbar-color-option" data-bg="bg-blue" title="آبی"></div>
                </div>
            </div>

            <hr>

            <h5 class="my-1 text-bold-500">گزینه های طرح بندی</h5>
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-block custom-control custom-radio mb-1 col-4">
                        <input type="radio" class="custom-control-input bg-primary" name="layouts" id="default-layout"
                               checked>
                        <label class="custom-control-label" for="default-layout">پیش فرض</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mb-1 col-4">
                        <input type="radio" class="custom-control-input bg-primary" name="layouts" id="fixed-layout">
                        <label class="custom-control-label" for="fixed-layout">ثابت</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mb-1 col-4">
                        <input type="radio" class="custom-control-input bg-primary" name="layouts" id="static-layout">
                        <label class="custom-control-label" for="static-layout">استاتیک</label>
                    </div>
                    <div class="d-inline-block custom-control custom-radio mb-1">
                        <input type="radio" class="custom-control-input bg-primary" name="layouts" id="boxed-layout">
                        <label class="custom-control-label" for="boxed-layout">جعبه ای</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="d-inline-block custom-control custom-checkbox mb-1">
                        <input type="checkbox" class="custom-control-input bg-primary" name="right-side-icons"
                               id="right-side-icons">
                        <label class="custom-control-label" for="right-side-icons">آیکون سمت راست</label>
                    </div>
                </div>
            </div>

            <hr>

            <h5 class="mt-1 mb-1 text-bold-500">پس زمینه منوی نوار کناری</h5>
            <!-- <div class="sidebar-color-options clearfix">
                <div class="bg-black sidebar-color-option" data-sidebar="menu-dark" title="مشکی"></div>
                <div class="bg-white sidebar-color-option" data-sidebar="menu-light" title="سفید"></div>
            </div> -->
            <div class="row sidebar-color-options ml-0">
                <label for="sidebar-color-option" class="card-title font-medium-2 mr-2">حالت سفید</label>
                <div class="text-center mb-1">
                    <input type="checkbox" id="sidebar-color-option" class="switchery" data-size="xs"/>
                </div>
                <label for="sidebar-color-option" class="card-title font-medium-2 ml-2">حالت تاریک</label>
            </div>

            <hr>

            <label for="collapsed-sidebar" class="font-medium-2">سقوط منو</label>
            <div class="float-right">
                <input type="checkbox" id="collapsed-sidebar" class="switchery" data-size="xs"/>
            </div>

            <hr>

            <!--Sidebar Background Image Starts-->
            <h5 class="mt-1 mb-1 text-bold-500">تصویر پس زمینه نوار کناری</h5>
            <div class="cz-bg-image row">
                <div class="col mb-3">
                    <img src="../../../app-assets/images/backgrounds/04.jpg" class="rounded sidiebar-bg-img" width="50"
                         height="100" alt="background image">
                </div>
                <div class="col mb-3">
                    <img src="../../../app-assets/images/backgrounds/01.jpg" class="rounded sidiebar-bg-img" width="50"
                         height="100" alt="background image">
                </div>
                <div class="col mb-3">
                    <img src="../../../app-assets/images/backgrounds/02.jpg" class="rounded sidiebar-bg-img" width="50"
                         height="100" alt="background image">
                </div>
                <div class="col mb-3">
                    <img src="../../../app-assets/images/backgrounds/05.jpg" class="rounded sidiebar-bg-img" width="50"
                         height="100" alt="background image">
                </div>
            </div>
            <!--Sidebar Background Image Ends-->

            <!--Sidebar BG Image Toggle Starts-->
            <div class="sidebar-image-visibility">
                <div class="row ml-0">
                    <label for="toggle-sidebar-bg-img" class="card-title font-medium-2 mr-2">مخفی کردن تصویر</label>
                    <div class="text-center mb-1">
                        <input type="checkbox" id="toggle-sidebar-bg-img" class="switchery" data-size="xs" checked/>
                    </div>
                    <label for="toggle-sidebar-bg-img" class="card-title font-medium-2 ml-2">نمایش تصویر</label>
                </div>
            </div>
            <!--Sidebar BG Image Toggle Ends-->

            <hr>

            <div class="row mb-2">
                <!-- <div class="col">
                    <a href="https://www.rtl-theme.com/author/barat/" class="btn btn-danger btn-block box-shadow-1" target="_blank">اکنون بخرید</a>
                </div> -->
                <div class="col">
                    <a href="https://www.rtl-theme.com/author/barat/" class="btn btn-primary btn-block box-shadow-1"
                       target="_blank">تم های بیشتر</a>
                </div>
            </div>
            <div class="text-center">
                <button id="twitter" class="btn btn-social-icon btn-twitter sharrre mr-1"><i class="la la-twitter"></i>
                </button>
                <button id="facebook" class="btn btn-social-icon btn-facebook sharrre mr-1"><i
                        class="la la-facebook"></i>
                </button>
                <button id="google" class="btn btn-social-icon btn-google sharrre"><i class="la la-google"></i></button>
            </div>
        </div>
    </div>
    <!-- End: Customizer-->




    <script src="{% static 'admin-panel-static/app-assets/vendors/js/vendors.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/toggle/switchery.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/switch.min.js' %}"
            type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->


    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page Vendor JS-->

    <!-- END: Page Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/tables/datatables/datatable-styling.min.js' %}"
            type="text/javascript"></script>

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/core/app-menu.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/core/app.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/customizer.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/jquery.sharrre.js' %}"
            type="text/javascript"></script>
    <!-- END: Theme JS-->

{% endblock %}
<!-- END: Body-->
