{% extends 'admin-panel/partial/select-deceased-base.html' %}
{% load static %}
{% load main_tags %}
<!-- BEGIN: Main Menu-->
{% block title %}
    پنل ادمین|مجوز حمل و دفن
{% endblock %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">مجوز حمل و دفن</h3>

                    <div class="breadcrumbs-top d-inline-block">

                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'Site_Panel:index' %}">پنل ادمین</a>
                                </li>

                                <li class="breadcrumb-item active">مجوز حمل و دفن
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- Form wizard with icon tabs section start -->
                <section id="icon-tabs">


                    <div class="row">

                        <div class="col-12">

                            <div class="card">

                                <div class="card-header">

                                    <h4 class="card-title">لطفا تاییدیه را امضا فرمایید</h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        {% if error %}
                                            <div class="alert round bg-danger alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-thumbs-down"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}</strong>
                                                <a href="#" class="alert-link">{{ info }}</a>

                                            </div>
                                        {% endif %}
                                        {% if success %}
                                            <div class="alert round bg-success alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-thumbs-up"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}</strong>
                                                <a href="#" class="alert-link">{{ info }}</a>
                                            </div>
                                        {% endif %}
                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <fieldset>

                                                <div class="card-content">
                                                    <div class="card-body">

                                                        <div class="tab-content px-1 pt-1">

                                                            <div class="row">
                                                                <div class="col-md-6">

                                                                    <div class="form-group">
                                                                        <label for="lastName3">انتخاب راننده :</label>
                                                                        <select id="single"
                                                                                class="js-states form-control"
                                                                                name="driver">
                                                                            <option></option>

                                                                            {% for driver in drivers %}
                                                                                <option value="{{ driver.id }}">
                                                                                    کد راننده:
                                                                                    {{ driver.code|notnone }} -
                                                                                    مشخصات:{{ driver.user_id.get_full_name }}
                                                                                    -
                                                                                    کدملی:{{ driver.national_number }} -
                                                                                    تلفن:{{ driver.phone_number }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="lastName3">ماشین حمل :</label>
                                                                        <select id="single2"
                                                                                class="js-states form-control"
                                                                                name="car">
                                                                            <option></option>
                                                                            {% for car in cars %}
                                                                                <option value="{{ car.id }}">{{ car.code }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="lastName2">تاریخ اعزام :</label>
                                                                        <input type="text"
                                                                               class="usage pdp-el form-control"
                                                                               pdp-id="pdp-4664685" autocomplete="off"
                                                                               name="date">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="lastName2">زمان اعزام :</label>
                                                                        <input type="time" class="form-control"
                                                                               name="time">
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="lastName3">تائیدیه مجوز :</label>
                                                                        <select class="form-control" name="status">
                                                                            <option value="confirmation">تائید</option>
                                                                            <option value="disapproval">عدم تائید
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="table-responsive">
                                                                        <table style="text-align: center;"
                                                                               class="table table-striped table-bordered base-style">
                                                                            <thead>
                                                                            <tr>
                                                                                <th>کد سرویس</th>
                                                                                <th>نام</th>
                                                                                <th>قیمت</th>
                                                                                <th>انتخاب</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            {% for target in targets %}
                                                                                <tr>
                                                                                    <th style="vertical-align: middle;">
                                                                                        {{ target.code }}
                                                                                    </th>
                                                                                    <th style="vertical-align: middle;">
                                                                                        {{ target.name }}</th>
                                                                                    <td style="vertical-align: middle;">
                                                                                        {{ target.price }}</td>
                                                                                    <td style="vertical-align: middle;">
                                                                                        <input type="checkbox"
                                                                                               value="{{ target.id }}Amir:D"
                                                                                               name="serves"></td>


                                                                                </tr>
                                                                            {% endfor %}
                                                                            </tbody>
                                                                            <tfoot>
                                                                            <tr>
                                                                                <th>کد سرویس</th>
                                                                                <th>نام</th>
                                                                                <th>قیمت</th>
                                                                                <th>انتخاب</th>
                                                                            </tr>
                                                                            </tfoot>
                                                                        </table>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        <div class="row" style="margin-top:20px ">
                                                        <ul class="nav nav-tabs">


                                                            <li class="nav-item dropdown">
                                                                <a class="nav-link dropdown-toggle active"
                                                                   data-toggle="dropdown" href="#" role="button"
                                                                   aria-haspopup="true" aria-expanded="false">
                                                                    انتخاب معرف
                                                                </a>
                                                                <div class="dropdown-menu" x-placement="bottom-start"
                                                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 50px, 0px);">
                                                                    <a class="dropdown-item" id="dropdown1-tab"
                                                                       href="#dropdown2" data-toggle="tab"
                                                                       aria-controls="dropdown2"
                                                                       aria-expanded="true">کاربر جدید</a>
                                                                    <a class="dropdown-item active" id="dropdown2-tab"
                                                                       href="#dropdown1" data-toggle="tab"
                                                                       aria-controls="dropdown1" aria-expanded="true">کاربر
                                                                        موجود</a>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                        </div>
                                                        <div class="tab-content px-1 pt-1">

                                                            <div class="tab-pane active" id="dropdown1" role="tabpanel"
                                                                 aria-labelledby="dropdown1-tab" aria-expanded="false">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">معرف :</label>
                                                                            <select id="single4"
                                                                                    class="js-states form-control"
                                                                                    name="buyer">
                                                                                <option></option>
                                                                                {% for buyer in buyers %}
                                                                                    <option value="{{ buyer.id }}">
                                                                                        نام و نام خانوادگی:
                                                                                        {{ buyer.get_full_name }}
                                                                                        -
                                                                                        کد ملی:
                                                                                        {{ buyer.national_number }}
                                                                                        -
                                                                                        شماره تماس:
                                                                                        {{ buyer.phone_number }}</option>
                                                                                {% endfor %}

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane" id="dropdown2" role="tabpanel"
                                                                 aria-labelledby="dropdown2-tab" aria-expanded="false">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">نام :</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="firstName2"
                                                                                   name="first_name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">نام خانوادگی
                                                                                :</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="firstName2"
                                                                                   name="last_name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">شماره ملی :</label>
                                                                            <input type="number" maxlength="10"
                                                                                   class="form-control"
                                                                                   id="firstName2"
                                                                                   name="national_number">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">شماره تلفن :</label>
                                                                            <input type="number" maxlength="11"
                                                                                   class="form-control"
                                                                                   id="firstName2"
                                                                                   name="phone_number">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                        </div>

                                                    </div>

                                                </div>

                                            </fieldset>

                                            <div class="col-lg-6" style="text-align: left">
                                                <button type="submit" class="btn btn-danger">ثبت کردن</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>


                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->


    {% include 'admin-panel/partial/customizer.html' %}

    <script src="{% static 'admin-panel-static/app-assets/vendors/js/vendors.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/toggle/switchery.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/switch.min.js' %}"
            type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->


    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page Vendor JS-->

    <!-- END: Page Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/tables/datatables/datatable-styling.min.js' %}"
            type="text/javascript"></script>

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/core/app-menu.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/core/app.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/customizer.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/jquery.sharrre.js' %}"
            type="text/javascript"></script>

    <script src="{% static 'date/js/persianDatepicker.js' %}"></script>

    <!-- Select2 -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $("#single").select2({
            placeholder: "لطفا یک شخص را انتخاب کنید",
            allowClear: true
        });
        $("#single2").select2({
            placeholder: "لطفا یک شخص را انتخاب کنید",
            allowClear: true
        });
        $("#multiple").select2({
            placeholder: "Select a programming language",
            allowClear: true
        });
        $("#single4").select2({
            placeholder: "لطفا معرف مورد نظر را انتخاب کنید",
            allowClear: true
        });
    </script>
    <script>
        $(function () {
            //usage
            $(".usage").persianDatepicker();

            //themes
            $("#pdpDefault").persianDatepicker({alwaysShow: true,});
            $("#pdpLatoja").persianDatepicker({theme: "latoja", alwaysShow: true,});
            $("#pdpLightorang").persianDatepicker({theme: "lightorang", alwaysShow: true,});
            $("#pdpMelon").persianDatepicker({theme: "melon", alwaysShow: true,});
            $("#pdpDark").persianDatepicker({theme: "dark", alwaysShow: true,});

            //size
            $("#pdpSmall").persianDatepicker({cellWidth: 14, cellHeight: 12, fontSize: 8});
            $("#pdpBig").persianDatepicker({cellWidth: 78, cellHeight: 60, fontSize: 18});

            //formatting
            $("#pdpF1").persianDatepicker({formatDate: "YYYY/MM/DD hh:mm:ss:ms"});
            $("#pdpF2").persianDatepicker({formatDate: "YYYY-0M-0D"});
            $("#pdpF3").persianDatepicker({formatDate: "YYYY-NM-DW|ND", isRTL: !0});

            //startDate & endDate
            $("#pdpStartEnd").persianDatepicker({startDate: "1394/11/12", endDate: "1395/5/5"});
            $("#pdpStartToday").persianDatepicker({startDate: "today", endDate: "1410/11/5"});
            $("#pdpEndToday").persianDatepicker({startDate: "1397/11/12", endDate: "today"});

            //selectedBefor & selectedDate
            $("#pdpSelectedDate").persianDatepicker({selectedDate: "1404/1/1", alwaysShow: !0});
            $("#pdpSelectedBefore").persianDatepicker({selectedBefore: !0});
            $("#pdpSelectedBoth").persianDatepicker({selectedBefore: !0, selectedDate: "1395/5/5"});

            //jdate & gdate attributes
            $("#pdp-data-jdate").persianDatepicker({
                onSelect: function () {
                    alert($("#pdp-data-jdate").attr("data-gdate"));
                }
            });
            $("#pdp-data-gdate").persianDatepicker({
                showGregorianDate: true,
                onSelect: function () {
                    alert($("#pdp-data-gdate").attr("data-jdate"));
                }
            });


            //Gregorian date
            $("#pdpGregorian").persianDatepicker({showGregorianDate: true});

            // jDateFuctions
            // var jdf = new jDateFunctions();
            // var pd = new persianDate();
            // $("#pdpjdf-1").persianDatepicker({
            //     onSelect: function () {
            //         $("#pdpjdf-1").val(jdf.getJulianDayFromPersian(pd.parse($("#pdpjdf-1").val())));
            //         $("#pdpjdf-2").val(jdf.getLastDayOfPersianMonth(pd.parse($("#pdpjdf-1").val())));
            //         $("#pdpjdf-3").val(jdf.getPCalendarDate($("#pdpjdf-1").val()));
            //     }
            // });


            // //convert jalali date to miladi
            // $("#year, #month, #day").on("change", function () {
            //     $("#month").val() > 6 ? $("#day-31").hide() : $("#day-31").show();;
            //     showConverted();
            // });

            // $("#year").keyup(showConverted);
            //
            // function showConverted() {
            //     try{
            //         var pd = new persianDate();
            //         pd.year = parseInt($("#year").val());
            //         pd.month = parseInt($("#month").val());
            //         pd.date = parseInt($("#day").val());
            //
            //         var jdf = new jDateFunctions();
            //         $("#converted").html("Gregorian :  " + jdf.getGDate(pd)._toString("YYYY/MM/DD") + "     [" + jdf.getGDate(pd) + "]<br />Julian:  " + jdf.getJulianDayFromPersian(pd));
            //
            //     } catch (e) {
            //         $("#converted").html("Enter the year correctly!");
            //     }
            // }


            //startDate is tomarrow
            var p = new persianDate();
            $("#pdpStartDateTomarrow").persianDatepicker({
                startDate: p.now().addDay(1).toString("YYYY/MM/DD"),
                endDate: p.now().addDay(4).toString("YYYY/MM/DD")
            });


        });
    </script>
    <!-- END: Theme JS-->
{% endblock %}