{% extends 'admin-panel/partial/main-panel.html' %}
{% load static %}
<!-- BEGIN: Main Menu-->
{% block title %}
    پنل ادمین|{{ select_place.code }}
{% endblock %}
{% block body %}
    <!-- BEGIN: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">تغییر مشخصات قبور</h3>
                    <div class="breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'Site_Panel:index' %}">پنل ادمین</a>
                                </li>

                                <li class="breadcrumb-item"><a href="{% url 'Site_Panel:places_list' %}">لیست قبور</a>
                                </li>
                                <li class="breadcrumb-item active">تغییر مشخصات قبور
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- Form wizard with icon tabs section start -->
                <section id="icon-tabs">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">لطفا مشخصات را درست وارد کنید</h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                    {% if error %}
                                            <div class="alert round bg-danger alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-thumbs-down"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}</strong>
                                                <a href="#" class="alert-link">{{ info }}</a>

                                            </div>
                                        {% endif %}
                                        {% if success %}
                                            <div class="alert round bg-success alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-thumbs-up"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}</strong>
                                                <a href="#" class="alert-link">{{ info }}</a>
                                            </div>
                                        {% endif %}
                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="firstName2">کد قبر* :</label>
                                                        <input {% if select_place.status == 'Municipal' %}{% else %}disabled{% endif %} type="number" class="form-control"
                                                               id="firstName2" value="{{ select_place.code }}" name="code">
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="firstName2">بلوک* :</label>
                                                        <input {% if select_place.status == 'Municipal' %}{% else %}disabled{% endif %} type="number" class="form-control"
                                                               id="firstName2" value="{{ select_place.block }}" name="block">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="date2">ردیف* :</label>
                                                        <input {% if select_place.status == 'Municipal' %}{% else %}disabled{% endif %} type="number" class="form-control"
                                                               id="date2" value="{{ select_place.radif }}" name="radif">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="firstName2">شماره* :</label>
                                                        <input {% if select_place.status == 'Municipal' %}{% else %}disabled{% endif %} type="number" class="form-control"
                                                               id="firstName2" value="{{ select_place.number }}" name="number">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="date2">طبقه* :</label>
                                                    <select {% if select_place.status == 'Municipal' %}{% else %}disabled{% endif %} class="custom-select form-control"
                                                            id="location2" name="floor">
                                                        <option {% if select_place.floor == 'OneFloor' %}selected{% endif %}
                                                                value="OneFloor">طبقه
                                                            اول
                                                        </option>
                                                        <option {% if select_place.floor == 'TwoFloor' %}selected{% endif %}
                                                                value="TwoFloor">طبقه دوم
                                                        </option>

                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="firstName2">قیمت* :</label>
                                                        <input {% if select_place.status == 'Municipal' or select_place.price == '0' %}{% else %}disabled{% endif %}  type="number" class="form-control"
                                                               id="firstName2" value="{{ select_place.price }}" name="price">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="firstName2">عرض جغرافیایی :</label>
                                                        <input {% if select_place.status == 'Municipal' %}{% else %}disabled{% endif %} type="number" class="form-control"
                                                               id="firstName2" value="{{ select_place.latitude }}" name="latitude">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="date2">طول جغرافیایی :</label>
                                                        <input {% if select_place.status == 'Municipal' %}{% else %}disabled{% endif %} type="number" class="form-control"
                                                               id="date2" value="{{ select_place.longitude }}" name="longitude">
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location2">وضعیت قبر :</label>
                                                        <select disabled class="custom-select form-control"
                                                                id="basicSelect" name="status">
                                                            <option selected disabled>لطفا وضعیت قبر را انتخاب کنید
                                                            </option>
                                                            <option {% if select_place.status == 'Pre_sell' %}selected{% endif %} value="Pre_sell">پیش فروش</option>
                                                            <option {% if select_place.status == 'Municipal' %}selected{% endif %} value="Municipal">شهرداری</option>
                                                            <option {% if select_place.status == 'Sold' %}selected{% endif %} value="Sold" >فروخته شده</option>

                                                        </select>
                                                    </div>
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="location2">نوع قبر :</label>
                                                        <select {% if select_place.status == 'Municipal' %}{% else %}disabled{% endif %} class="custom-select form-control"
                                                                id="location2" name="place_type">
                                                            <option {% if select_place.place_type == 'Normal' %}selected{% endif %}
                                                                    value="Normal">عادی
                                                            </option>
                                                            <option {% if select_place.place_type == 'Celebrities' %}selected{% endif %}
                                                                    value="Celebrities">مشاهیر
                                                            </option>


                                                        </select>
                                                    </div>
                                                </div>
                                                <div style="text-align: center" class="col-lg-12">
                                                    <button type="submit" class="btn btn-primary">ثبت اطلاعات</button>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

    <!-- END: Content-->
    {% include 'admin-panel/partial/customizer.html' %}



    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/vendors.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/toggle/switchery.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/switch.min.js' %}"
            type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/extensions/jquery.steps.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/core/app-menu.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/core/app.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/customizer.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/jquery.sharrre.js' %}"
            type="text/javascript"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/wizard-steps.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page JS-->
{% endblock %}