{% extends 'admin-panel/partial/main-panel.html' %}
{% load static %}
<!-- BEGIN: Main Menu-->
{% block title %}
    پنل ادمین|بایگانی دریافت
{% endblock %}
{% block body %}
    <!-- BEGIN: Main Menu-->
    {% include 'admin-panel/partial/sidbar.html' %}
    <!-- END: Main Menu-->

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">
                        {% if new %}
                            ایجاد نامه ورودی
                        {% else %}
                            ویرایش نامه
                        {% endif %}
                    </h3>
                    <div class="breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'Site_Panel:index' %}">پنل ادمین</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    {% if new %}
                                        ایجاد نامه ورودی
                                    {% else %}
                                        ویرایش نامه با کد {{ select_letter.code }}
                                    {% endif %}
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- Basic CKEditor start -->
                <section id="basic">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">
                                        {% if new %}
                                        ایجاد نامه
                                        {% else %}
                                            ویرایش نامه
                                        {% endif %}
                                    </h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        {% for warning in warnings %}
                                            {% if new %}
                                            {% else %}
                                                <div class="alert round alert-secondary alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-mic black"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                {{ warning }}
                                                </div>
                                            {% endif %}
                                            <div class="alert round alert-secondary alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-mic black"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                {{ warning }}
                                            </div>
                                        {% endfor %}
                                        {% if error %}
                                            <div class="alert round bg-danger alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-thumbs-down"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}</strong>
                                                <a href="{% url 'Site_Panel:edit_receive_letter' select_letter.code %}"
                                                   class="alert-link">{{ info }}</a>
                                            </div>
                                        {% endif %}
                                        {% if success %}

                                            <div class="alert round bg-success alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-thumbs-up"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}</strong>
                                                <a href="{% url 'Site_Panel:edit_receive_letter' select_letter.code %}"
                                                   class="alert-link">{{ info }}</a>
                                            </div>
                                        {% endif %}

                                        <div class="form-group">
                                            <form action="" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <lable>کد:</lable>
                                                <input {% if new %}{% else %}disabled{% endif %} type="text" class='text-center' value="{{ select_letter.code }}"
                                                       style="margin-bottom: 5px;border-radius: 2px;" name="code">
                                                <lable>تصویر:</lable>
                                                <input type="file" {% if new %}{% else %}title="درصورت انتخاب نکردن تصویر، تصویر قبلی انتخاب میشود" {% endif %} class='text-center' style="margin-bottom: 5px;border-radius: 2px;" name="picture">
                                                <textarea name="ckeditor" id="ckeditor" cols="30" rows="15"
                                                          class="ckeditor">{{ select_letter.description|safe }}</textarea>
                                                <button class="btn btn-accent-1" type="submit">ذخیره</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    {% include 'admin-panel/partial/customizer.html' %}

    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/vendors.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/toggle/switchery.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/switch.min.js' %}"
            type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/editors/ckeditor/ckeditor.js' %}"
            type="text/javascript"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/core/app-menu.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/core/app.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/customizer.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/jquery.sharrre.js' %}"
            type="text/javascript"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/editors/editor-ckeditor.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page JS-->
{% endblock %}