{% extends 'admin-panel/partial/main-panel.html' %}
{% load static %}
<!-- BEGIN: Main Menu-->
{% block title %}

    پنل ادمین
{% endblock %}
{% block body %}

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">پنل ادمین</h3>

                </div>
            </div>

            <div class="content-body"><!-- Form wizard with icon tabs section start -->

            </div>
        </div>
    </div>
    <!-- END: Content-->

    {% include 'admin-panel/partial/customizer.html' %}


    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/vendors.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/toggle/switchery.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/switch.min.js' %}"
            type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/extensions/jquery.steps.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/core/app-menu.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/core/app.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/customizer.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/jquery.sharrre.js' %}"
            type="text/javascript"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/wizard-steps.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page JS-->
{% endblock %}
<!-- END: Body-->
