{% extends 'admin-panel/partial/main-panel.html' %}
{% load static %}
<!-- BEGIN: Main Menu-->
{% block title %}
    پنل ادمین|ثبت متوفی جدید
{% endblock %}
{% block body %}
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                    <h3 class="content-header-title mb-0 d-inline-block">اضافه کردن متوفی جدید</h3>
                    <div class="breadcrumbs-top d-inline-block">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'Site_Panel:index' %}">پنل ادمین</a>
                                </li>

                                <li class="breadcrumb-item active">اضافه کردن متوفی جدید
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body"><!-- Form wizard with icon tabs section start -->
                <section id="icon-tabs">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">لطفا مشخصات را درست وارد کنید</h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        {% for warning in warnings %}
                                            <div class="alert round alert-secondary alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-mic black"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                {{ warning }}
                                            </div>
                                        {% endfor %}
                                        {% if error %}
                                            <div class="alert round bg-danger alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-thumbs-down"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}</strong>
                                                <a href="#" class="alert-link">{{ info }}</a>

                                            </div>
                                        {% endif %}
                                        {% if success %}
                                            <div class="alert round bg-success alert-icon-left alert-dismissible mb-2"
                                                 role="alert">
                                                    <span class="alert-icon">
                                                        <i class="ft-thumbs-up"></i>
                                                    </span>
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <strong>{{ message }}</strong>
                                                <a href="{% url 'Site_Panel:edit-deceased-info' deceased.id %}"
                                                   class="alert-link">{{ info }}</a>
                                            </div>
                                        {% endif %}
                                        <form action="" method="post" enctype="multipart/form-data"
                                              class="icons-tab-steps">
                                            {% csrf_token %}

                                            <!-- Step 1 -->
                                            <h6><i class="step-icon ft-home"></i>مشخصات متوفی</h6>
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="firstName2">نام* :</label>
                                                            <input type="text" class="form-control" id="firstName2"
                                                                   value="{{ first_name }}"
                                                                   name="first_name">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="lastName3">نام خانوادگی* :</label>
                                                            <input type="text" class="form-control" id="lastName3"
                                                                   value="{{ last_name }}"
                                                                   name="last_name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="lastName4">وضعیت جنازه :</label>
                                                            <select class="custom-select form-control" id="location2"
                                                                    name="deceased_status">
                                                                <option disabled value="">جنسیت فرد متوفی را وارد کنید
                                                                </option>
                                                                <option selected value="MALE">مرد</option>
                                                                <option value="One">زن</option>
                                                                <option value="Two">ناشناخته</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="lastName2">نام پدر* :</label>
                                                            <input type="text" class="form-control" id="lastName2"
                                                                   value="{{ fa_name }}"
                                                                   name="fa_name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="firstName2">نوع جنازه :</label>
                                                            <select class="custom-select form-control" id="location2"
                                                                    name="deceased_type">
                                                                <option disabled value="">جنسیت فرد متوفی را وارد کنید
                                                                </option>
                                                                <option selected value="Two">مرد</option>
                                                                <option value="One">زن</option>
                                                                <option value="UNKNOWN">ناشناخته</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="lastName3">آدرس :</label>
                                                            <textarea cols="30" rows="1" class="form-control"
                                                                      placeholder="لطفا آدرس فرد را وارد کنید"
                                                                      name="address">{{ address }}</textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="lastName4">محل تولد :</label>
                                                            <input type="text" class="form-control" id="lastName4"
                                                                   value="{{ place_of_birth }}"
                                                                   name="place_of_birth">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="lastName2">تاریخ صدور :</label>
                                                            <input type="date" class="form-control" id="lastName2"
                                                                   value="{{ issue_date }}"
                                                                   name="issue_date">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="firstName2">نام مادر :</label>
                                                            <input type="text" class="form-control" id="firstName2"
                                                                   value="{{ mo_name }}"
                                                                   name="mo_name">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="lastName3">کد ملی* :</label>
                                                            <input type="text" class="form-control" id="lastName3"
                                                                   value="{{ national_number }}"
                                                                   name="national_number">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="lastName4">شماره شناسنامه :</label>
                                                            <input type="text" class="form-control" id="lastName4"
                                                                   value="{{ identification_number }}"
                                                                   name="identification_number">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">


                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="location2">جنسیت :</label>
                                                            <select class="custom-select form-control" id="location2"
                                                                    name="sex">
                                                                <option disabled value="">جنسیت فرد متوفی را وارد کنید
                                                                </option>
                                                                <option {% if sex == 'MALE' %}selected{% endif %}
                                                                        value="MALE">مرد
                                                                </option>
                                                                <option {% if sex == 'FEMALE' %}selected{% endif %}
                                                                        value="FEMALE">زن
                                                                </option>
                                                                <option {% if sex == 'FEMALE' %}selected{% endif %}
                                                                        value="UNKNOWN">ناشناخته
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="date2">تاریخ تولد* :</label>
                                                            <input type="date" class="form-control" id="date2"
                                                                   value="{{ birth_day }}"
                                                                   name="birth_day">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="lastName2">زندگینامه :</label>
                                                            <textarea cols="30" rows="10" class="form-control"
                                                                      placeholder="لطفا زندگینامه فرد را وارد کنید"
                                                                      name="bio">{{ bio }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>


                                            </fieldset>
                                            <h6><i class="step-icon ft-file-text"></i>مشخصات معرف</h6>
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="firstName2">نام معرف* :</label>
                                                            <input type="text" class="form-control" id="firstName2"
                                                                   value="{{ presenter_first_name }}"
                                                                   name="presenter_first_name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="firstName2">نام خانوادگی معرف* :</label>
                                                            <input type="text" class="form-control" id="firstName2"
                                                                   value="{{ presenter_last_name }}"
                                                                   name="presenter_last_name">
                                                        </div>
                                                    </div>


                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="location2">شماره تماس معرف* :</label>
                                                            <input type="tel" class="form-control"
                                                                   placeholder="شماره تماس را وارد کنید"
                                                                   value="{{ presenter_phone_number }}"
                                                                   name="presenter_phone_number">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="firstName2">کد ملی معرف* :</label>
                                                            <input type="text" placeholder="کد ملی" class="form-control"
                                                                   id="firstName2"
                                                                   value="{{ presenter_national_number }}"
                                                                   name="presenter_national_number">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="firstName2">شماره شناسنامه معرف :</label>
                                                            <input placeholder="شماره شناسنامه" type="text"
                                                                   class="form-control" id="firstName2"
                                                                   value="{{ presenter_identification_number }}"
                                                                   name="presenter_identification_number">
                                                        </div>
                                                    </div>
                                                    <div style="margin-top: 27px" class="col-lg-6">
                                                        <fieldset class="form-group">
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                   id="inputGroupFile01" name="presenter_document">
                                                            <label class="custom-file-label" for="inputGroupFile01">فرم
                                                                تاییدیه متوفی</label>
                                                        </div>
                                                    </fieldset>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="firstName2">آدرس معرف :</label>
                                                            <input type="text" placeholder="آدرس دقیق معرف را وارد کنید"
                                                                   class="form-control" id="firstName2" value="{{ presenter_address }}" name="presenter_address">
                                                        </div>
                                                    </div>
                                                </div>


                                            </fieldset>
                                            <!-- Step 2 -->
                                            <h6><i class="step-icon ft-file-text"></i>مشخصات محل دفن</h6>

                                            <fieldset>
                                                <div class="card-content">
                                                    <div class="card-body">
                                                        <ul class="nav nav-tabs">


                                                            <li class="nav-item dropdown">
                                                                <a class="nav-link dropdown-toggle active"
                                                                   data-toggle="dropdown" href="#" role="button"
                                                                   aria-haspopup="true" aria-expanded="false">
                                                                    انتخاب محل دفن
                                                                </a>
                                                                <div class="dropdown-menu" x-placement="bottom-start"
                                                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 50px, 0px);">
                                                                    <a class="dropdown-item" id="dropdown1-tab"
                                                                       href="#dropdown1" data-toggle="tab"
                                                                       aria-controls="dropdown1"
                                                                       aria-expanded="true">اعزامی</a>
                                                                    <a class="dropdown-item active" id="dropdown2-tab"
                                                                       href="#dropdown2" data-toggle="tab"
                                                                       aria-controls="dropdown2" aria-expanded="true">فردوس
                                                                        رضا</a>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                        <div class="tab-content px-1 pt-1">

                                                            <div class="tab-pane" id="dropdown1" role="tabpanel"
                                                                 aria-labelledby="dropdown1-tab" aria-expanded="false">
                                                                <div class="form-group">
                                                                    <label for="location2"> انتخاب شهر :</label>
                                                                    <input type="text" class="form-control"
                                                                           id="firstName2" value="{{ location }}"
                                                                           name="location">
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane active" id="dropdown2" role="tabpanel"
                                                                 aria-labelledby="dropdown2-tab" aria-expanded="false">
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">کد قبر* :</label>
                                                                            <input type="number" class="form-control"
                                                                                   id="firstName2" value="{{ code }}"
                                                                                   name="code">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">بلوک* :</label>
                                                                            <input type="number" class="form-control"
                                                                                   id="firstName2" value="{{ bloock }}"
                                                                                   name="block">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="date2">ردیف* :</label>
                                                                            <input type="number" class="form-control"
                                                                                   id="date2" value="{{ radif }}"
                                                                                   name="radif">
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">شماره* :</label>
                                                                            <input type="number" class="form-control"
                                                                                   id="firstName2" value="{{ number }}"
                                                                                   name="number">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="date2">طبقه* :</label>
                                                                            <select class="custom-select form-control"
                                                                                    id="location2" name="floor">
                                                                                <option {% if floor == 'OneFloor' %}selected{% endif %}
                                                                                        value="OneFloor">طبقه
                                                                                    اول
                                                                                </option>
                                                                                <option {% if floor == 'TwoFloor' %}selected{% endif %}
                                                                                        value="TwoFloor">طبقه دوم
                                                                                </option>

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="location2">نوع قبر :</label>
                                                                            <select class="custom-select form-control"
                                                                                    id="location2" name="place_type">

                                                                                <option {% if place_type == 'Celebrities' %}selected{% endif %}
                                                                                        value="Celebrities">مشاهیر
                                                                                </option>
                                                                                <option {% if place_type == 'Normal' %}selected{% endif %}
                                                                                        value="Normal">عادی
                                                                                </option>

                                                                            </select>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="firstName2">عرض جغرافیایی
                                                                                :</label>
                                                                            <input type="number" class="form-control"
                                                                                   id="firstName2"
                                                                                   value="{{ latitude }}"
                                                                                   name="latitude">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="date2">طول جغرافیایی :</label>
                                                                            <input type="number" class="form-control"
                                                                                   id="date2" value="{{ longitude }}"
                                                                                   name="longitude">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <label for="date2">مجوز دفن :</label>
                                                                            <select class="custom-select form-control"
                                                                                    title="تایید مجوز دفن به منزله تایید پرداخت هزینه قبر است."
                                                                                    id="location2"
                                                                                    name="license_status">
                                                                                <option {% if license_status == 'CONFIRMED' %}selected{% endif %}
                                                                                        value="CONFIRMED">تایید شده
                                                                                </option>
                                                                                <option {% if license_status == 'WAITING' %}selected{% endif %}
                                                                                        value="WAITING">درحال بررسی
                                                                                </option>

                                                                            </select>
                                                                        </div>
                                                                        <div class="text-info">تایید مجوز دفن به منزله
                                                                            تایید پرداخت هزینه قبر است.
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                            </fieldset>

                                            <!-- Step 3 -->
                                            <h6><i class="step-icon ft-activity"></i>گواهی فوت</h6>
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="firstName2">نام پزشک* :</label>
                                                            <input type="text" class="form-control" id="firstName2"
                                                                   value="{{ doctor_first_name }}"
                                                                   name="doctor_first_name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="firstName2">نام خانوادگی پزشک* :</label>
                                                            <input type="text" class="form-control" id="firstName2"
                                                                   value="{{ doctor_last_name }}"
                                                                   name="doctor_last_name">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="date2">شماره نظام پزشکی* :</label>
                                                            <input type="number" class="form-control" id="date2"
                                                                   value="{{ medical_system_number }}"
                                                                   name="medical_system_number">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="location2">شماره گواهی فوت* :</label>
                                                            <input type="number" class="form-control" id="location2"
                                                                   value="{{ death_certificate_number }}"
                                                                   name="death_certificate_number">


                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="location2">تاریخ فوت* :</label>
                                                            <input type="date" class="form-control" id="location2"
                                                                   value="{{ date_of_death }}"
                                                                   name="date_of_death">


                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="location2">تاییدیه :</label>
                                                            <select class="custom-select form-control"
                                                                    id="location2"
                                                                    name="death_certificate_stats">
                                                                <option {% if death_certificate_stats == 'Accepted' %}selected{% endif %}
                                                                        value="Accepted">تایید شده
                                                                </option>
                                                                <option {% if death_certificate_stats == 'UnAccepted' %}selected{% endif %}
                                                                        value="UnAccepted">در انتظار تایید
                                                                </option>
                                                            </select>


                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="location2">علت فوت :</label>
                                                            <textarea class="form-control" name="cause_death" id=""
                                                                      cols="30" rows="10"
                                                                      placeholder="لطفا علت فوت را شرح دهید">{{ cause_death }}</textarea>
                                                            <button type="submit" style="position: absolute;
    top: 244px;
    left: 90px; z-index: 100000;" class="btn btn-primary"> ثبت اطلاعات
                                                            </button>

                                                        </div>
                                                    </div>


                                                </div>
                                            </fieldset>
                                            <style>
                                                #steps-uid-0 > div.actions.clearfix > ul > li:nth-child(3) > a {
                                                    display: none;
                                                }
                                            </style>
                                            <!-- Step 4 -->

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- END: Content-->

    {% include 'admin-panel/partial/customizer.html' %}




    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/vendors.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/toggle/switchery.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/switch.min.js' %}"
            type="text/javascript"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/extensions/jquery.steps.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/core/app-menu.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/core/app.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/customizer.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'admin-panel-static/app-assets/vendors/js/jquery.sharrre.js' %}"
            type="text/javascript"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="{% static 'admin-panel-static/app-assets/js/scripts/forms/wizard-steps.min.js' %}"
            type="text/javascript"></script>
    <!-- END: Page JS-->
{% endblock %}